@font-face {
    font-family: Bree Serif;
    src: url(fonts/Bree_Serif/BreeSerif-Regular.ttf);
}

#ajax-loader {
    display: none;
    width:100%;
    background-image: url("images/Ripple-1s-200px.gif");
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    z-index: 10;
}

#calculadora_hemcibra {
    position: relative;
}

.hide {
    display:none;
}

input[type="radio"] {
    display:none;
}

label.styled.clicked {
    color:#fff;
    background-color: #D11A13;
    font-size:13px;
}

label.styled {
    cursor:pointer;
    margin-right: 15px;
    padding: 11px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D6D6D6;
    text-align: left;
    font: Bold 13px/13px Ubuntu;
    letter-spacing: 0px;
    color: #255A7E;
}

h2.main-title {
    margin:0 !important;
    text-align: left;
    font-family: Bree Serif !important;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #F01911;
    opacity: 1;
}

.custom_hr {
    margin-top:5px;
    margin-bottom:25px;
    width:100%;
    position: relative;
    display: block;
    height:4px;
}

.custom_hr > .small_line {
    width:15%;
    height:2px;
    background-color:#D6D6D6;
    position: absolute;
    top: 0;
}

.custom_hr > .big_line {
    width:100%;
    height:2px;
    background-color:#D6D6D6;
    position: absolute;
    bottom: 0;
}

.default-width {
    width:140px !important;
}
#mode_message span.title{
    text-align: left;
    font-size:21px;
    font-family: Bree Serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EEEEEE;
    opacity: 1;
    height:36px;
}

.section-instruction, span.title {
    margin-top:30px;
    margin-bottom: 5px;
    position: relative;
    display: block;
    clear: both;
    font-family: Ubuntu;
    font-weight: bold;
    font-size:10px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

span.title {
    font-family: Bree Serif;
    font-size:18px;
    margin-top:25px;
    font-weight: normal;
    text-transform: none;
    margin-bottom: 0;
}

span.title:after {
    content: ' ';
    background-color: #D6D6D6;
    width: 35%;
    height: 2px;
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
}

input[type="checkbox"] {
    display: none !important;
}


.checkbox-wrapper {
    width: 140px;
    height: 213px;
    display: block;
    border: 1px solid #D6D6D6;
    margin-right:20px;
    cursor: pointer;
    text-align: center;
}

.checkbox-wrapper label {
    cursor: pointer;
}

.checkbox-wrapper.checked {
    position: relative;
    border: 1px solid #D11A13;
}

.checkbox-wrapper.checked:after{
    content: 'Frasco selecionado';
    width:100%;
    background-color:#D11A13;
    text-align: left;
    font: Bold 12px/13px Ubuntu;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
    left: 0;
    bottom: -35px;
    padding: 11px;
}

#dosagecontent {
    margin-bottom:50px;
}

span.small {
    font-size: 13px;
}

.error {
    width:100%;
    color: red;
    font-size: 12px;
}
input {
    font-family: Ubuntu;
   font-size: 13px;
}

.divisor {
    margin: 65px 0;
    height: 1px;
    width:100%;
    background-color:#D6D6D6;
}

.card {
    border: none !important;
    padding: 0 !important;
}

.btn {
    border-radius: 0 !important;
    width:fit-content;
    background: #255A7E 0% 0% no-repeat padding-box;
    border: 1px solid #EEEEEE !important;
    opacity: 1;
    text-align: left;
    font: Bold 13px/13px Ubuntu !important;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.btn:disabled {text-align: left;
    font: Bold 13px/13px Ubuntu;
    letter-spacing: 0px;
    border-radius: 0 !important;
    color: #2E2E2E;
    opacity: 1 !important;
    padding: 11px;
    background: #D6D6D6 0% 0% no-repeat padding-box;
    border: 1px solid #EEEEEE;
}

.checkbox-wrapper label img {
    margin: 15px auto;
    clear: both;
    position: relative;
    display: block;
    float: none;
}

#result-wrapper {
    background-color:#EEEEEE;
    padding: 20px;
    font-size:15px;
    position: relative;
    margin-top: 22px;
}

#result-wrapper .triangle{
    left: 0;
    width: 20px;
    position: absolute;
    top: -19px;
    height: 20px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #EEEEEE;
}

p.small {
    font-size: 13px;
    color: #2E2E2E;
    font-style: italic;
    text-align: left;
}

#result img {
    margin-right:20px;
}

#result-mode label{
    cursor: pointer;
    margin-right: 15px;
    padding: 11px;
    background: #255A7E 0% 0% no-repeat padding-box;
    border: 1px solid #D6D6D6;
    text-align: left;
    font: Bold 13px/13px Ubuntu;
    letter-spacing: 0px;
    color: #fff;
}

#calculadora_hemcibra .span-title {
    font-size:18px;
    margin-bottom: 15px;
    font-family: "Bree Serif";
}